<!--IO-->
<div class="btn-group-toggle border-bottom" data-toggle="buttons">
  <label class="btn btn-outline-secondary w-100 p-2 border-0 rounded-0">
    <input type="checkbox" autocomplete="off" class="display_b io_display_b" data-display = "io_panel" data-toggle="tooltip" data-placement="right" title="IO">
    <i class="fad fa-exchange fa-lg"></i>
    <div style="font-size: 10px">I/O</div>
  </label>
</div>

<!--path design-->
<div class="btn-group-toggle border-bottom" data-toggle="buttons">
  <label class="btn btn-outline-secondary w-100 p-2 border-0 rounded-0">
    <input type="checkbox" autocomplete="off" class="display_b" data-display = "program_panel" data-toggle="tooltip" data-placement="right" title="Path design">
    <i class="fad fa-draw-polygon fa-lg"></i>
    <div style="font-size: 10px">Path Design</div>
  </label>
</div>

<!--camera-->
<div class="btn-group-toggle border-bottom" data-toggle="buttons">
  <label class="btn btn-outline-secondary w-100 p-2 border-0 rounded-0">
    <input type="checkbox" autocomplete="off" class="display_b camera_display_b" data-display = "camera_panel" data-toggle="tooltip" data-placement="right" title="Timeline">
    <i class="fad fa-film fa-lg"></i>
    <div style="font-size: 10px">Key Frame</div>
  </label>
</div>

<!--script-->
<div class="btn-group-toggle border-bottom" data-toggle="buttons">
  <label class="btn btn-outline-secondary w-100 p-2 border-0 rounded-0">
    <input type="checkbox" autocomplete="off" class="display_b script_display_b" data-display = "script_panel" data-toggle="tooltip" data-placement="right" title="Script">
    <i class="fad fa-brackets-curly fa-lg"></i>
    <div style="font-size: 10px">Script</div>
  </label>
</div>

