<!--path design-->
<div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-light active w-100">
    <input type="checkbox" autocomplete="off" class="display_b" data-display = "program_panel" data-toggle="tooltip" data-placement="right" title="Path design">
    <i class="fas fa-draw-polygon"></i>
  </label>
</div>

<!--script-->
<div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-light active w-100">
    <input type="checkbox" autocomplete="off" class="display_b script_display_b" data-display = "script_panel" data-toggle="tooltip" data-placement="right" title="Script">
    <i class="fas fa-code align-middle"></i>
  </label>
</div>

<div class="flex-grow-1"></div>
<!--graphic-->
<div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-light active w-100">
    <input type="checkbox" checked autocomplete="off" class="graphic_switch">
    <i class="fas fa-eye"></i>
  </label>
</div>


