<!-- <div class="" style="width:500px; min-wdith:500px; position: absolute;"> -->
  <!-- content-->
  <!-- <div class="d-flex flex-column"> -->

      <!--alarm-->
      <!-- <div class="alert alert-danger alert-dismissible fade show alarm_li" role="alert" style="width: 100%; position: relative; display: none ">
        <strong>Alarm!</strong> Disable the alarm first.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      
      </div>        -->
      <!--initial-->
      <!-- <div class="alert alert-info alert-dismissible fade show notification_initial" role="alert" style="width: 100%; position: relative;">
        Before start working with the robot make sure that:
        <ul>
          <li>All the joints are set to their true values</li>
          <li>The motors are enabled</li>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
  </div>
</div> -->

<!-- modal
<div class="modal fade" id="alarm_modal" tabindex="-1" role="dialog" aria-labelledby="alarm_modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="connection_modalLabel">Alarm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="alarm_text">Message</label>
            <textarea class="form-control alarm_v" id="alarm_text" rows="2" disabled=""></textarea>
          </div>
          <button type="button" class="btn btn-primary alarm_b" data-cmd = {{cmd["alarm"]}}>Resolve</button>
        </form>
      </div>
    </div>
  </div>
</div>
/modal -->
<!--toast-->
  <!-- Position it -->
  <div class="p-4 note" style="position: absolute; bottom: 0; left: 56px;">   
  </div>
   