<!--log-->
<div class="border-top"></div>
<div class="d-flex bg-light border-bottom">
  <div class="ml-2 mr-2"><i class="fas fa-broadcast-tower"></i></div>
  <div>Log</div>
  <div class="custom-control custom-switch mt-auto mb-auto ml-auto mr-2" style="">
    <input type="checkbox" class="custom-control-input log_last_line_c" id="log_last_line_c" checked>
    <label class="custom-control-label" for="log_last_line_c">Last Line</label>
  </div>       
</div>
<textarea class="log flex-grow-1 small_font">
</textarea>
<!--/log-->