<!--top
<div class="d-flex border-bottom bg-light border-top" style="min-height: 39px">
	<div class="custom-control custom-switch mt-auto mb-auto ml-2">
		<input type="checkbox" class="custom-control-input log_print_c" id="log_print_c">
		<label class="custom-control-label" for="log_print_c"}>Print log</label>
	</div>
</div>		
/top-->			

<!--log-->
<div class="border-bottom"></div>
<textarea class="log flex-grow-1 border-top"></textarea>
<!--/log-->