<div class="script_panel resize_e side_panel" style="width:550px; min-wdith:550px; position: absolute; display: none; background-color: white">
	<!-- content-->
	<div class="stretch d-flex flex-column">
		{% include "script/script.html" %}
		{% include "script/log.html" %}				  			
	</div>
</div>
