<!--top-->
<div class="d-flex border-bottom bg-light">
	<div class="border-right">
		<button type="button" class="btn btn-light script_play_b">
			<i class="fas fa-play"></i>
			Play
		</button>
	</div>	

	<div class="custom-control custom-switch mt-auto mb-auto ml-2" style="">
		<input type="checkbox" class="custom-control-input script_replay_c" id="script_replay_c">
		<label class="custom-control-label" for="script_replay_c">Replay</label>
	</div>

	<div class="border-right ml-2 mr-2"></div>
	<div class="custom-control custom-switch mt-auto mb-auto">
		<input type="checkbox" class="custom-control-input script_track_c" id="script_track_c">
		<label class="custom-control-label" for="script_track_c"}>Track line</label>
	</div>
	<div class="border-right ml-2"></div>

	<div class="border-right">
		<button id="btnGroupDrop2" type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
			<button class="dropdown-item script_convert_b" style="display:none"><i class="fas fa-arrow-right"></i> Convert to path</button>	
			<button class="dropdown-item script_upload_b"><i class="fas fa-upload"></i> Upload</button>
			<button class="dropdown-item script_download_b"><i class="fas fa-download"></i> Download</button>
		</div>	
	</div>	
</div>	
	
	
<!--/top-->			

<!--script-->
<textarea class="script flex-grow-1"></textarea>
<!--/script-->