<!--top-->
<div class="d-flex border-bottom bg-light">
	<div class="script_file_v mt-auto mb-auto ml-2 mr-2">xxx.py</div>
	<div class="border-right flex-grow-1"></div>
	<div class="custom-control custom-switch mt-auto mb-auto ml-2" style="">
		<input type="checkbox" class="custom-control-input script_replay_c" id="script_replay_c">
		<label class="custom-control-label" for="script_replay_c">Replay</label>
	</div>

	<div class="border-right ml-2 mr-2"></div>
	<div class="custom-control custom-switch mt-auto mb-auto mr-2">
		<input type="checkbox" class="custom-control-input script_track_c" id="script_track_c">
		<label class="custom-control-label" for="script_track_c"}>Track line</label>
	</div>
	<button type="button" class="btn btn-light script_play_b rounded-0 border-left">
		<i class="fas fa-play"></i>
		Play
	</button>

	<div class="border-left">
		<button id="btnGroupDrop2" type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
			<button class="dropdown-item script_convert_b" style="display:none"><i class="fas fa-arrow-right"></i> Convert to path</button>	
			<button class="dropdown-item script_new_b"><i class="fal fa-plus pr-2"></i>New File</button>
			<button class="dropdown-item script_open_b"><i class="fal fa-file pr-2"></i>Open File...</button>	
			<button class="dropdown-item script_save_b"><i class="fal fa-save pr-2"></i>Save</button>
			<button class="dropdown-item script_save_as_b"><i class="fal fa-save pr-2"></i>Save as</button>
			<div class="dropdown-divider"></div>
			<button class="dropdown-item script_download_b"><i class="fal fa-download pr-2"></i>Download</button>
			<button class="dropdown-item script_upload_b"><i class="fal fa-upload pr-2"></i>Upload</button>
			<div class="dropdown-divider"></div>
			<button class="dropdown-item script_delete_b "><i class="fal fa-trash-alt pr-2"></i>Delete</button>
		</div>	
	</div>	
</div>	
<!--/top-->		

<!--script-->
<textarea class="script flex-grow-1"></textarea>
<!--/script-->