<h2>Emergency Stop Button</h2>
<p class="text-justify">
This form allows you to activate or deactivate the emergency stop button of the robot and configure its settings. The alarm will be triggered when the specified input pin pattern is appeared.
</p>

<!--emergency form-->
<table class="table table-hover table-sm pl-2 pr-2 mb-0">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Input pin</th>
      <th scope="col">Is equal to</th>
      <th scope="col"></th>
    </tr>
  </thead> 
  <tbody class="table-group-divider">
      <tr >
        <td class="border-top-0 border-bottom" style="">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input emergency-c" id="emergency-c">
            <label class="custom-control-label" for="emergency-c">Alarm activates when</label>
          </div>
        </td>
        <td class="border-top-0 border-bottom">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <input type="number" class="input-group-text small text-left emergency-key-v" value="0" data-key data-item disabled>
            </div>
						<select class="form-control small text-left emergency-key-l">
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>							
						</select>
          </div>                    
        </td>
        <td class="border-top-0 border-bottom">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <input type="number" class="input-group-text small text-left emergency-val-v" value="1" data-key data-item disabled>
            </div>
						<select class="form-control small text-left emergency-val-l">
							<option>0</option>
							<option selected>1</option>
						</select>
          </div>                    
        </td>                       
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-primary btn-sm btn-block emergency-b" data-cmd= data-key= data-num=>
          <i class="fal fa-check"></i>
          Set
          </button>              
        </td>          
      </tr>
  </tbody>
</table>  
