<h2>Robot Frames</h2>
<p class="text-justify">
Set the robot frame here. 
</p>

<!--emergency form-->
<table class="table table-hover table-sm pl-2 pr-2 mb-0">
  <tbody class="table-group-divider">
      <tr >
        <td class="border-bottom" colspan="2">
          Pick a unique name for the frame
        </td>
        <td class="border-bottom" colspan="2">
          <input class="form-control form-control-sm frame_name_v" type="text"  placeholder="">
        </td>
      </tr>
      <tr class="table-active">
        <th scope="col"></th>
        <th scope="col">Description</th>
        <th scope="col">Active TCP in the base frame [x, y, z, a, b, c]</th>
        <th scope="col"></th>
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" style="">
          Point 1
        </td>
        <td class="border-top-0 border-bottom" style="">
          Frame center 
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm frame_v" data-key="1" type="text" placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block frame_rec_b" data-key="1">
          Record
          </button>              
        </td>          
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" style="">
          Point 2
        </td>
        <td class="border-top-0 border-bottom" style="">
          On X-Y plane
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm frame_v" data-key="2" type="text" placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block frame_rec_b" data-key="2">
          Record
          </button>              
        </td>          
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" style="">
          Point 3
        </td>
        <td class="border-top-0 border-bottom" style="">
          On +X axis
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm frame_v" data-key="3" type="text" placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block frame_rec_b" data-key="3">
          Record
          </button>              
        </td>          
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" style="">
          Point 4
        </td>
        <td class="border-top-0 border-bottom" style="">
          With positive Z
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm frame_v" type="text" data-key= '4' placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block frame_rec_b" data-key="4">
          Record
          </button>              
        </td>          
      </tr>
  </tbody>
</table>
<div class="mt-3">
  <button type="submit" class="btn btn-primary frame_b_set"><i class="fal fa-check"></i> Set</button>
</div>

