<div class="text-center pb-2">
  <h3 href="dorna.ai" target="_blank">Dorna Lab</h3>
  by <a href="https://dorna.ai" target="_blank">Dorna Robotics</a>       
</div>
<details open>
  <summary class="bg-secondary border-bottom pl-2 pr-2 text-white">Device</summary>
    <table class="table table-hover table-sm pl-2 pr-2 mb-0">
      <tbody>
          <tr>
            <td class="border-top-0 border-bottom">
              Device ID
            </td>            
            <td class="uid_v border-top-0 border-bottom" data-key="{{cmd["uid"]}}" colspan="2"></td>
          </tr>        
          <tr>
            <td class="border-top-0 border-bottom">
              Hardware
            </td>            
            <td class="border-top-0 border-bottom" colspan="2">
              Dorna 2
            </td>            
          </tr>
          <tr class="table-active">
            <td class="border-top-0 border-bottom">
            </td>            
            <td class="version_v border-top-0 border-bottom"><strong>Current version</strong></td>
            <td class="version_v border-top-0 border-bottom"><strong>Latest version</strong></td>
          </tr>          
          <tr>
            <td class="border-top-0 border-bottom">
              Firmware Version
            </td>            
            <td class="version_v border-top-0 border-bottom" data-key="{{cmd["version"]}}" data-current="server"></td>
            <td class="version_v server border-top-0 border-bottom" data-latest="server">N.A.</td>
          </tr>
          <tr>
            <td class="border-top-0 border-bottom">
              Dorna Lab Version
            </td>            
            <td class="version_v border-top-0 border-bottom" data-key="dorna_lab" data-current="dorna_lab">{{data["dorna_lab"]}}</td>
            <td class="version_v dorna_lab border-top-0 border-bottom" data-latest="dorna_lab">N.A.</td>
          </tr>
          <tr>
            <td class="border-top-0 border-bottom">
              API Version
            </td>            
            <td class="version_v border-top-0 border-bottom" data-key="api" data-current="api">{{data["api"]}}</td>
            <td class="version_v api border-top-0 border-bottom" data-latest="api">N.A.</td>
          </tr>
      </tbody>
    </table>

    <!--update_info-->
    <div class="card mt-2 mb-2 alert-primary">
      <div class="card-body">
        
        <!--outdate-->
        <div class="outdate mb-3" style="display: none;">
          <h5 class="card-title">New Updates Available</h5>
          <p class="card-text">Follow the guidelines <a class="alert-link" href="https://doc.dorna.ai/docs/guides/update-robot/" target="_blank">here</a> to get the latest update on the robot.
          </p>
        </div>

        <!--update-->
        <div class="update mb-3" style="display: none;">
          <h5 class="card-title">Up to Date</h5>
          <p class="card-text">The robot is up to date. For more information check <a class="alert-link" href="https://doc.dorna.ai/docs/guides/update-robot/" target="_blank">here</a>.
          </p>
        </div>

        <!--no internet-->
        <div class="internet mb-3"  style="display: none;">
          <h5 class="card-title">No Internet Access on the Controller</h5>          
          <p class="card-text">For more information check <a class="alert-link" href="https://doc.dorna.ai/docs/guides/update-robot/" target="_blank">here</a>.
          </p>
        </div>                          
        <button type="button" class="update_b_check btn btn-primary">Check for Updates...</button>
      </div>
    </div> 
</details>

<!--power-->
<details>
  <summary class="bg-secondary border-bottom pl-2 pr-2 text-white">Power</summary>
    <table class="table table-hover table-sm pl-2 pr-2 mb-0">
      <tbody>
          <tr>
            <td class="border-top-0 border-bottom">
              Reboot the Controller
            </td>            
            <td class="border-top-0 border-bottom text-right">
              <button type="button" class="reboot_b btn btn-outline-danger">
              <i class="fal fa-sync"></i>
              Reboot
            </button>
            </td>
          </tr>  
          <!--      
          <tr>
            <td class="border-top-0 border-bottom">
              Shutdown the Controller
            </td>            
            <td class="border-top-0 border-bottom text-right">
              <button type="button" class="shutdown_b btn btn-outline-danger">
              <i class="fal fa-power-off"></i>
              Shutdown
            </button>
            </td>
          </tr>
          --> 
      </tbody>
    </table>  
</details>