<div class="text-center pb-2">
  <h3 href="dorna.ai" target="_blank">Dorna lab v1.2</h3>
  by <a href="https://dorna.ai" target="_blank">dorna robotics</a>       
</div>
<table class="table">
  <tbody>
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="2" >Robot</th>
    </tr>
  </thead>        
      <tr>
          <td>
            Firmware version  
          </td>
          <td class="version_v" data-key="{{cmd["version"]}}"></td>              
      </tr>          
      <tr>
          <td>
            Device ID  
          </td>
          <td class="uid_v" data-key="{{cmd["uid"]}}"></td>             
      </tr>                 
  </tbody>
</table>
<!--
<table class="table .table-sm connection_history">
  <tbody>
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="2" >Connection history</th>
    </tr>
  </thead>                          
  </tbody>
</table>     
-->