<div class="d-flex flex-row justify-content-center">
  <div class="p-4">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="true"><i class="fas fa-info"></i> Info</a>
        <a class="nav-link" id="v-pills-tool-tab" data-toggle="pill" href="#v-pills-tool" role="tab" aria-controls="v-pills-tool" aria-selected="false"><i class="fas fa-sliders-h"></i> Parameter</a>
        <a class="nav-link" id="v-pills-joystick-tab" data-toggle="pill" href="#v-pills-joystick" role="tab" aria-controls="v-pills-joystick" aria-selected="false"><i class="fas fa-gamepad"></i> Keyboard/joystick</a>
      </div>    
  </div>
  <div class="col-md-5 col-9 p-4">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">{% include "setting/info.html" %}</div>
      <div class="tab-pane fade" id="v-pills-tool" role="tabpanel" aria-labelledby="v-pills-tool-tab">{% include "setting/parameter.html" %}</div>
      <div class="tab-pane fade" id="v-pills-joystick" role="tabpanel" aria-labelledby="v-pills-joystick-tab">{% include "setting/joystick.html" %}</div>
    </div>    
  </div>
</div>