<div class="d-flex flex-row justify-content-center">
  <div class="p-4">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="true">General Info</a>
        
        <a class="nav-link" id="v-pills-tcp-tab" data-toggle="pill" href="#v-pills-tcp" role="tab" aria-controls="v-pills-tcp" aria-selected="false">TCP</a>
        <!--
        <a class="nav-link" id="v-pills-frame-tab" data-toggle="pill" href="#v-pills-frame" role="tab" aria-controls="v-pills-frame" aria-selected="false">Frame</a>
        -->
        <a class="nav-link" id="v-pills-tool-tab" data-toggle="pill" href="#v-pills-tool" role="tab" aria-controls="v-pills-tool" aria-selected="false">Auxiliary Axes</a>
        <a class="nav-link" id="v-pills-emergency-tab" data-toggle="pill" href="#v-pills-emergency" role="tab" aria-controls="v-pills-emergency" aria-selected="false">Safety Features</a>
        <a class="nav-link" id="v-pills-startup-tab" data-toggle="pill" href="#v-pills-startup" role="tab" aria-controls="v-pills-startup" aria-selected="false">Startup Programs</a>
        <a class="nav-link" id="v-pills-joystick-tab" data-toggle="pill" href="#v-pills-joystick" role="tab" aria-controls="v-pills-joystick" aria-selected="false">Keyboard / Joystick</a>
      </div>    
  </div>
  <div class="col-md-5 col-9 p-4">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">{% include "setting/info.html" %}</div>
      <div class="tab-pane fade" id="v-pills-tool" role="tabpanel" aria-labelledby="v-pills-tool-tab">{% include "setting/axis.html" %}</div>
      <div class="tab-pane fade" id="v-pills-tcp" role="tabpanel" aria-labelledby="v-pills-tool-tab">{% include "setting/tcp.html" %}</div>
      <div class="tab-pane fade" id="v-pills-frame" role="tabpanel" aria-labelledby="v-pills-tool-tab">{% include "setting/frame.html" %}</div>
      <div class="tab-pane fade" id="v-pills-emergency" role="tabpanel" aria-labelledby="v-pills-emergency-tab">{% include "setting/emergency.html" %}</div>
      <div class="tab-pane fade" id="v-pills-startup" role="tabpanel" aria-labelledby="v-pills-startup-tab">{% include "setting/startup.html" %}</div>
      <div class="tab-pane fade" id="v-pills-joystick" role="tabpanel" aria-labelledby="v-pills-joystick-tab">{% include "setting/joystick.html" %}</div>
    </div>    
  </div>
</div>