<table class="table .table-sm">
  <tbody>
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="3" >Parameter</th>
    </tr>
  </thead>        
      <tr>
          <td>
            Number of axes  
          </td>
          <td colspan="2">
            <div class="input-group input-group-sm">
              <select class="form-control number_axes">
                  <option value="5" selected>5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
              </select>             
            </div>            
          </td>
      </tr>
      <tr>
          <td>
            Tool length (mm)
          </td>
          <td>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <input type="number" class="input-group-text toollength_v text-center small" value="0" data-key={{cmd["toollength"]}} disabled>
              </div>
              <input class="form-control toollength_v toollength_n_v  small text-center" type="number" value="0" step="0.01" data-key={{cmd["toollength"]}} placeholder= "0" step="0.01" min="0">
            </div>                    
          </td>
          <td>
            <button type="button" class="set_toollength_b btn btn-primary btn-block btn-sm" data-cmd={{cmd["toollength"]}}>Set length</button>
          </td>          
      </tr>                        
  </tbody>
</table>