<h2>Startup Programs</h2>
<p class="text-justify">
Configure the list of programs that run automatically when the robot starts up. Use the list below to add or remove programs.
</p>
<div class="card mb-4 alert-primary">
  <div class="card-body">
    <h5 class="card-title">Notice</h5>
	<ul class="card-text">
		<li>To add a program to the list, simply insert a new line in the list with the program's complete path specified. For example,
			<ul>
				<li>Python program: <code>/full/path/to/the/python_file.py</code></li>
				<li>Blockly program: <code>/full/path/to/the/blockly_file.blk</code></li>
			</ul>
		</li>
		<li>Programs will be executed during the startup, all at the same time.</li>
		<li>Use one line for each program.</li>
		<li>Use <code>#</code> (hashtag symbol) at the beginning of each line to comment that line.</li>
		<li>Empty lines will be ignored.</li>				
	</ul>
  </div>
</div>

<!--startup list-->
<form>
  <div class="mb-3">
  	<label>Startup programs list</label>
    <textarea class="form-control startup-v" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary startup-b"><i class="fal fa-check"></i> Set</button>
    <button type="button" class="btn btn-secondary startup-cancel-b"><i class="fal fa-times"></i> Cancel</button>
  </div>
</form>