<h2>Robot TCP</h2>
<p class="text-justify">
Set the robot TCP here. 
</p>

<!--emergency form
<table class="table table-hover table-sm pl-2 pr-2 mb-0">
  <tbody class="table-group-divider">
      <tr >
        <td class="border-bottom" colspan="2">
          Pick a unique name for the TCP
        </td>
        <td class="border-bottom" colspan="2">
          <input class="form-control form-control-sm tcp_name_v" type="text"  placeholder="">
        </td>
      </tr>
      <tr class="table-active">
        <th scope="col" colspan="2"></th>
        <th scope="col" colspan="2">Flange position in the base frame [x, y, z, a, b, c]</th>
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" colspan="2" style="">
          Point 1
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm tcp_v" data-key="1" type="text" placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block tcp_rec_b" data-key="1">
          Record
          </button>              
        </td>          
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" colspan="2" style="">
          Point 2
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm tcp_v" data-key="2" type="text" placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block tcp_rec_b" data-key="2">
          Record
          </button>              
        </td>          
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" colspan="2" style="">
          Point 3
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm tcp_v" data-key="3" type="text" placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block tcp_rec_b" data-key="3">
          Record
          </button>              
        </td>          
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" colspan="2" style="">
          Point 4
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm tcp_v" data-key="4" type="text" placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block tcp_rec_b" data-key="4">
          Record
          </button>              
        </td>          
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" style="">
          TCP Z axis is aligned with the base
        </td>
        <td class="border-top-0 border-bottom" style="">
          <div class="input-group input-group-sm">
            <select class="form-control tcp-z-select-form">
              <option value="0" selected="">X</option>
              <option value="1">Y</option>
              <option value="2">Z</option>
              <option value="3">-X</option>
              <option value="4">-Y</option>
              <option value="5">-Z</option>
            </select> 
          </div>
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm tcp_v" data-key="5" type="text" placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block tcp_rec_b" data-key="5">
          Record
          </button>              
        </td>          
      </tr>
      <tr >
        <td class="border-top-0 border-bottom" style="">
          TCP X axis is aligned with the base
        </td>
        <td class="border-top-0 border-bottom" style="">
          <div class="input-group input-group-sm">
            <select class="form-control tcp-x-select-form">
              <option value="0" selected="">X</option>
              <option value="1">Y</option>
              <option value="2">Z</option>
              <option value="3">-X</option>
              <option value="4">-Y</option>
              <option value="5">-Z</option>
            </select> 
          </div>
        </td>
        <td class="border-top-0 border-bottom">
          <input class="form-control form-control-sm tcp_v" data-key="6" type="text" placeholder="">
        </td>
        <td class="border-top-0 border-bottom">
          <button type="button" class="btn btn-light btn-sm btn-block tcp_rec_b" data-key="6">
          Record
          </button>              
        </td>          
      </tr>
  </tbody>
</table>

<div class="mt-3">
  <button type="submit" class="btn btn-primary tcp_b_set"><i class="fal fa-check"></i> Set</button>
</div>

-->

<!--TCP-->
<details open>
  <summary class="bg-secondary border-bottom pl-2 pr-2 text-white">TCP respect to flange</summary>
    <table class="table table-hover table-sm pl-2 pr-2 mb-0">
      <tbody>

        {% for i in [["x", "mm"] , ["y","mm"] ,["z","mm"] , ["a","deg"] , ["b","deg"] , ["c","deg"]  ] %}

          <tr >
            <td class="border-top-0 border-bottom" style="width:35%">
              TCP '{{i[0]}}' value 
            </td>
            <td class="border-top-0 border-bottom">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <input type="number" class="input-group-text tcp_v tcp_v_{{i[0]}} small text-left" value="0" data-key=t{{i[0]}} disabled>
                </div>
                <input class="form-control tcp_n tcp_n_{{i[0]}} small text-left" type="number" value="0" step="0.1" data-key=t{{i[0]}} placeholder= "0" step="0.1" >
                <small class="pl-1 mt-auto mb-auto">{{i[1]}}</small>
              </div>                    
            </td>
                                 
          </tr>
    {% endfor %}  


          <td class="border-top-0 border-bottom">
            <button type="button" class="btn btn-primary btn-sm btn-block set_tcp_b">
            <i class="fal fa-check"></i>
            Set
            </button>              
          </td> 

      </tbody>
    </table>  
</details>
