:root {

  --width_in: 105px;
  --width_jog: 75px;
  --width_tiny: 75px;

}

/****io****/
/*
* {
  border-radius: 2px !important;
}
*/

.io_td{
  padding: 0px;
  width: 38px;
  text-align: center;
}

.io_0{
  background-color: rgb(255, 240, 240);
  color: rgb(255, 70, 70);
  /*border: 1px solid rgb(255, 70, 70);*/

}
.io_1{
  background-color: rgb(229, 241, 251);
  color: rgb(0, 120, 215);
  /*border: 1px solid rgb(0, 120, 215);*/
}





/****input****/
[class*="small"]{
  max-width: var(--width_in);
  min-width: var(--width_in);
}

[class*="tiny"]{
  max-width: var(--width_tiny);
  min-width: var(--width_tiny);
  padding: 2px;
}

button[class*="jog_b"]{
  /*max-width: var(--width_jog);
  min-width: var(--width_jog);
  */
  width: 48.7%;
}

/*split*/
.flex {
    display: flex;
    flex-direction: row;
}

/*sticky footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 57px;
  padding-bottom: 60px;
  height: 100vh;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/*overflow*/
.stretch{
  height: calc(100vh - 57px);
  overflow-y: auto;
  overflow-x: auto; 
}

/*script*/

.script_stat_1 {
  background-color: #ff7; 
}


.CodeMirror-gutters {
  background-color: #f8f9fa
}

.CodeMirror {
  height: inherit;
}

.CodeMirror-scroll {
  overflow-y: auto;
  overflow-x: auto;
}


.script_container {
  /*
  left: 57px;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px; 
  */
}


/*3d viewer*/
.view_3d{
  overflow: hidden;
  background-color: #aaaaaa;
  }

/* joint info */
.joint_info{
  font-family: Monospace;
  font-size: 12px;
  line-height: 24px;
}

/* halt */
.halt_b{
  width: 120px;
}

/* alert*/
.alert{
  z-index: 101;
  position: absolute; 
  width: 100%;
}

/*
.ui-resizable-handle{
  background-color: #dee2e6;
}
*/

/* =========== controller =========== */
.table td {
    vertical-align: middle;
}

/* ============= alert ============= */
.alert-messages {
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
}

/* ============= jog section ============= */
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-bottom-color: #f8f9fa;
  border-top-width: 3px;
  border-top-color: #000;
  border-radius: 0px;
}

.toast{
  min-width: 350px;
}