<table style="margin: auto;width: 50% !important; ">
  <tbody>
    <!--scale-->
    {% for i in [["vel", 500] ,["accel", 10000], ["jerk", 50000]]%}
    <tr>
      <td colspan="2">
        <div class="d-flex flex-row">
          <div class="align-self-center text-capitalize" style="width: 50px">{{i[0]}}</div>
          <div class="align-self-center flex-grow-1">
            <input type="range" class="custom-range bind {{i[0]}}_s_s" min="0" max={{i[1]}} value= {{i[1]*0.1}} data-key="{{i[0]}}" data-bind=".{{i[0]}}_s_v" data-value = "xyz">
          </div>
          <div class="align-self-center pl-2">
            <input type="number" class="form-control bind {{i[0]}}_s_v tiny text-center vaj_s_v" step="0.01" min="0" max={{i[1]}} value= {{i[1]*0.1}} data-key="{{i[0]}}" data-bind=".{{i[0]}}_s_s" data-cmd={{cmd["jmove"]}} data-value = "xyz"> 
          </div>
        </div>         
      </td>
    </tr>
    {% endfor%}                
    <!--/scale-->
    <!--discrete jog-->
    <tr>
      <td>
        <input type="number" class="form-control jog_d_v small text-center" step="0.001" min="0" max="" value="0" data-cmd={{cmd["lmove"]}}>        
      </td>      
      <td>
        <div class="input-group">
            <div class="input-group-text flex-grow-1">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input jog_d_c" id="check_jog_d_c_xyz" data-key="xyz" data-cmd={{cmd["lmove"]}}>
                <label class="custom-control-label" for="check_jog_d_c_xyz">Discrete jog mode</label>
              </div>
            </div>
        </div>      
      </td>      
    </tr>
    <!--/discrete jog-->
    <!--buttons-->
    {% for i in [["x","0"], ["y","1"], ["z","2"], ["a","3"], ["b","4"],["c","5"],["d","6"],["e","7"]] %}
    <tr class="jog_form" data-key = "{{i[1]}}">
      <td>
        <input type="number" class="text-center form-control bind go_v small" value="0" step="0.001" data-key="{{i[0]}}" data-cmd={{cmd["lmove"]}} data-item = "xyz" data-type = "xyz">
      </td>      
      <td>
        <button type="button" class="jog_b btn btn-primary jog_b_{{i[0]}}m" data-key={{i[0]}} tab="line" data-value=-1 data-cmd={{cmd["lmove"]}} data-type="xyz">- {{i[0]}}
        </button>
        <button type="button" class="jog_b btn btn-primary jog_b_{{i[0]}}p" data-key={{i[0]}} tab="line" data-value=1 data-cmd={{cmd["lmove"]}} data-type="xyz">+ {{i[0]}}
        </button>
      </td>      
    </tr>
    {% endfor %}
    <tr>
      <td>
        <button class="btn btn-primary go_b small" type="button" data-type="xyz" data-cmd={{cmd["lmove"]}}>Go</button>
      </td>      
      <td>
        <div class="input-group">
            <div class="input-group-text flex-grow-1">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input jog_r_c" id="check_jog_r_c_xyz" data-cmd={{cmd["lmove"]}} data-type="xyz">
                <label class="custom-control-label" for="check_jog_r_c_xyz">Relative move</label>
              </div>
            </div>
        </div>      
      </td>      
    </tr>    
    <!--buttons--> 
  </tbody>
</table>
