<div class="stretch border-left jog_display_panel d-flex flex-column bg-light"  style="min-width: 320px;"> 
	<!-- position info -->
	{% include "jog/position.html" %}
	<!-- /position info -->

	<!-- motion info -->
	{% include "jog/motion.html" %}
	<!-- /motion info -->

	<!--motor/set_joint -->
	<table class="table table-sm pl-2 pr-2 mb-0 table-borderless" style="width:100%">
		<tbody>
			<tr>
			  	<td class="border-right border-bottom" style="width: 50%">
			        <div class="custom-control custom-switch mt-auto mb-auto ml-4">
						<input type="checkbox" class="custom-control-input motor_c" id="motor_c" data-key = {{cmd["motor"]}} data-cmd = {{cmd["motor"]}} >
						<label class="custom-control-label w-100" for="motor_c">Motors</label>
			        </div>			  		
			  	</td>
			    <td class="border-bottom p-0">
					<button type="button" class="btn btn-light rounded-0 w-100" data-toggle="modal" data-target="#set_joint_modal" value="Set joint">Set Joint</button>
			    </td>
			</tr>	  
		</tbody>
	</table>
	<!-- jog joint_xyz -->
	<nav>
	  <div class="nav nav-pills bg-light m-2" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active tab_pill_jog_joint rounded-0" id="pills-joint-tab" data-toggle="pill" href="#pills-joint" role="tab" aria-controls="pills-joint" aria-selected="true">Jog Joint</a>
	    <!--
	    <a class="nav-item nav-link tab_pill_jog_line rounded-0" id="pills-line-tab" data-toggle="pill" href="#pills-line" role="tab" aria-controls="pills-line" aria-selected="false">Jog Line</a>
		-->
	    <a class="nav-item nav-link tab_pill_setup rounded-0" id="pills-setup-tab" data-toggle="pill" href="#pills-setup" role="tab" aria-controls="pills-setup" aria-selected="false">Setup</a>
	  </div>
	</nav>
	<div class="tab-content pt-0 pb-2 pl-0 pr-0" id="nav-tabContent">
	  <div class="tab-pane fade show active"  id="pills-joint" role="tabpanel" aria-labelledby="pills-joint-tab">
	  	{% include "jog/joint.html" %}
	  </div>
	  <div class="tab-pane fade" id="pills-line" role="tabpanel" aria-labelledby="pills-line-tab">
	  	{% include "jog/line.html" %}
	  </div>
	  <div class="tab-pane fade" id="pills-setup" role="tabpanel" aria-labelledby="pills-setup-tab">
	  	{% include "jog/setup.html" %}
	  </div>	  
	</div>

	<!--tcp & frame
	<div class="dropdown-container">
		<button type="button" id="frame-tcp-update" class="btn btn-light rounded-0 border-right border-left">
	      	<i class="fa-solid fa-repeat"></i>
		</button>

	  <div class="dropdown">
	    <label for="tcp-list">TCP:</label>
	    <select id="tcp-list">
	      <option value="" disabled selected>Select a tcp</option>
	    </select>
	  </div>

	  <div class="dropdown">
	    <label for="frame-list">Frame:</label>
	    <select id="frame-list">
	      <option value="" disabled selected>Select a frame</option>
	    </select>
	  </div>
	</div>
	-->

</div>
<!--modal-->
{%include "jog/set_joint.html" %}
<!--modal-->
