<div class="stretch border-left jog_display_panel d-flex flex-column bg-light"  style="min-width: 320px;"> 
	<!-- position info -->
	{% include "jog/position.html" %}
	<!-- /position info -->

	<!-- motion info -->
	{% include "jog/motion.html" %}
	<!-- /motion info -->

	<!-- jog joint_xyz -->
	<nav>
	  <div class="nav nav-tabs bg-light" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active tab_pill_jog_joint" id="pills-joint-tab" data-toggle="pill" href="#pills-joint" role="tab" aria-controls="pills-joint" aria-selected="true">Jog joint</a>
	    <a class="nav-item nav-link tab_pill_jog_line" id="pills-line-tab" data-toggle="pill" href="#pills-line" role="tab" aria-controls="pills-line" aria-selected="false">Jog line</a>
	  </div>
	</nav>
	<div class="tab-content p-2" id="nav-tabContent">
	  <div class="tab-pane fade show active"  id="pills-joint" role="tabpanel" aria-labelledby="pills-joint-tab">
	  	{% include "jog/joint.html" %}
	  </div>
	  <div class="tab-pane fade" id="pills-line" role="tabpanel" aria-labelledby="pills-line-tab">
	  	{% include "jog/line.html" %}
	  </div>
	</div>

	<!--set_joint / motor-->
	<div class="border-top border-bottom p-2">
		<table style="width:100%">
			<tbody>
			<tr>
				<td class="text-center" style="width: 50%">
			        <div class="custom-control custom-switch p-0" style="padding-top:8px; padding-bottom: 8px;">
			          <input type="checkbox" class="custom-control-input motor_c" id="motor_c" data-key = {{cmd["motor"]}} data-cmd = {{cmd["motor"]}} >
			          <label class="custom-control-label" for="motor_c">Motors</label>
			        </div>	
				</td>					
				<td class="text-center" style="width: 50%">
					<button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#set_joint_modal" value="Set joint">Set joint</button>		
				</td>				
			</tr>
		</tbody></table>	
	</div>
	<!--/set_joint-->

	<!-- gamepad-->	
	<div class="border-bottom p-2">
		<table style="width:100%">
			<tr class="align-baseline">
				<td style="width: 50%">
					<label class="controller-select-label p-0 m-0">Controller type</label>
				</td>
				<td>
					<div class="input-group input-group-sm">
						<select class="form-control controller-select-form" data-id = -1>
							<option value=0 selected>--Disabled--</option>
							<option value=1 >Keyboard</option>
							<option value=2 >Joystick</option>
						</select>	
					</div>				
				</td>
			</tr>
		</table>
	</div>
	<!-- /motor-->	
</div>
<!--modal-->
{%include "jog/set_joint.html" %}
{%include "gamepad.html" %}
<!--modal-->