<div class="d-flex justify-content-around joint_info border-bottom p-2" >
	<table>
	  <tbody>    
	    <tr>
	      <td>
	        vel: 
	      </td>
	      <td>
	        <span id="motion_r_id_vel" class="motion_v" data-key="vel">0.0</span>    
	      </td>
	    </tr>
	  </tbody>
	</table>
	<table>
	  <tbody>
	    <tr>
	      <td>
	        accel: 
	      </td>
	      <td>
	        <span id="motion_r_id_accel" class="motion_v" data-key="accel">0.0</span>    
	      </td>
	    </tr>	       		    		           
	  </tbody>
	</table>
</div>