<div class="modal fade" id="set_joint_modal" tabindex="-1" role="dialog" aria-labelledby="set_joint_modal" aria-hidden="true">  
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Set joint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <table class="table .table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Joint</th>
              <th scope="col">New Value</th>
              <th scope="col" colspan="3"></th>
            </tr>
          </thead>         
          <tbody>
            <tr class="set_joint_form versionable" version="dorna_2s">
              <td colspan="5">The main five axes of the robot are equipped with pre-calibrated absolute encoders and do not require any set joint operation. Use this section for the auxiliary axes only.</td>
            </tr>  
            {% for i in [180, 180, -142, 135, 0,0,0,0]%}
              {% if loop.index-1 > 4%}
                <tr class="set_joint_form" data-key="{{loop.index-1}}">
                  <td>j{{loop.index-1}}</td>
                  <td>
                    <input type="number" class="form-control set_joint_v small text-center" value="{{i}}" step="0.001" data-key="j{{loop.index-1}}" index="{{loop.index-1}}" placeholder= "{{i}}">
                  </td>
                  <td>
                    <button type="button" class="set_joint_b btn btn-primary btn-block" data-key="j{{loop.index-1}}" data-cmd={{cmd["joint"]}}>Set joint</button>
                  </td>              
                  <td>
                    <button type="button" class="home_joint_b btn btn-dark btn-block" data-key="{{loop.index-1}}" data-dir="-1">Auto set joint (-)</button>
                  </td>
                  <td>
                    <button type="button" class="home_joint_b btn btn-dark btn-block" data-key="{{loop.index-1}}" data-dir="1">Auto set joint (+)</button>
                  </td>
                </tr>
              {% else %}
                <tr class="set_joint_form versionable" data-key="{{loop.index-1}}" version="dorna_2">
                  <td>j{{loop.index-1}}</td>
                  <td>
                    <input type="number" class="form-control set_joint_v small text-center" value="{{i}}" step="0.001" data-key="j{{loop.index-1}}" index="{{loop.index-1}}" placeholder= "{{i}}">
                  </td>
                  <td>
                    <button type="button" class="set_joint_b btn btn-primary btn-block" data-key="j{{loop.index-1}}" data-cmd={{cmd["joint"]}}>Set joint</button>
                  </td>                
                  <td></td>
                  <td></td>
                </tr>                
              {% endif %}                    
            {% endfor %}
            <tr class="versionable" version="dorna_2"> 
              <td></td>
              <td></td>
              <td>
                <button type="button" class="set_joint_b all btn btn-primary btn-block" data-cmd={{cmd["joint"]}}>Set all</button>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
