<div class="modal fade" id="set_joint_modal" tabindex="-1" role="dialog" aria-labelledby="set_joint_modal" aria-hidden="true">  
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Set joint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <table class="table .table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Joint</th>
              <th scope="col">New value</th>
              <th scope="col"></th>
            </tr>
          </thead>         
          <tbody>
            {% for i in [180, 180, -142, 135, 0,0,0,0]%}
            <tr class="set_joint_form" data-key="{{loop.index-1}}">
              <td>j{{loop.index-1}}</td>
              <td>
                <input type="number" class="form-control set_joint_v small text-center" value="{{i}}" step="0.001" data-key="j{{loop.index-1}}" index="{{loop.index-1}}" placeholder= "{{i}}">
              </td>      
              <td>
                <button type="button" class="set_joint_b btn btn-primary btn-block" data-key="j{{loop.index-1}}" data-cmd={{cmd["joint"]}}>Set joint</button>
              </td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="set_joint_b all btn btn-primary btn-block" data-cmd={{cmd["joint"]}}>Set all</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
