<table class="table table-sm pl-2 pr-2 mb-0 table-borderless border-top" style="width:100%">
	<tbody>
		<!--
		<tr>
		  	<td class="border-right border-bottom" style="width: 50%">
		        <div class="custom-control custom-switch mt-auto mb-auto">
					<input type="checkbox" class="custom-control-input motor_c" id="motor_c" data-key = {{cmd["motor"]}} data-cmd = {{cmd["motor"]}} >
					<label class="custom-control-label" for="motor_c">Motors</label>
		        </div>			  		
		  	</td>
		    <td class="border-bottom p-0">
				<button type="button" class="btn btn-light rounded-0 w-100" data-toggle="modal" data-target="#set_joint_modal" value="Set joint">Set Joint</button>
		    </td>
		</tr>
		-->
		<tr>
		  	<td class="border-right border-bottom text-center" style="width: 50%">
		        <div class="custom-control custom-switch mt-auto mb-auto">
		          <input type="checkbox" class="custom-control-input graphic_switch" id="graphic_switch" checked>
		          <label class="custom-control-label" for="graphic_switch">3D Model</label>
		        </div>			  		
		  	</td>
		    <td class="border-bottom">
				<div class="input-group input-group-sm flex-grow-1">
					<select class="form-control controller-select-form">
						<option value=0 selected>--No Keyboard / Joystick--</option>
						<option value=1 >Keyboard</option>
						<option value=2 >Joystick</option>
					</select>	
				</div>				
		    </td>
		</tr>	
		<tr hidden><!--drop down for env file control -->
			<td> Scene File: <input readonly id="env_file_input"></input> </td>
			<td>
				<button id="btnGroupDrop2" type="button" class="btn btn-light rounded-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop2" style="">
					<button class="dropdown-item env_open_b"><i class="fal fa-file pr-2"></i>Open File...</button>	
					<button class="dropdown-item env_clear_b "><i class="fal fa-trash-alt pr-2"></i>Clear</button>
				</div>	
			</td>
		</tr>  
		<tr hidden><!--cuda server -->
			<td> Cuda server address: <input id="cuda_add_input" value="http://127.0.0.1:5000"></input> </td>
			<td>
				<button type="button" class="btn btn-light rounded-0 cu_connect_b" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-network-wired"></i>
				</button>

			</td>
		</tr>  

	</tbody>
</table>
<!--/set_joint / motor-->	
<!--modal-->
{%include "jog/gamepad.html" %}
<!--modal-->