<!--shell header-->
<div class="d-flex bg-light border-bottom">
  <div class="ml-2 mr-2"><i class="fas fa-terminal"></i></div>
  <div>Shell Viewer</div>
  </div>  

<!--shell reply-->
<div style="min-height: 25%; max-height: 25%; height: 25%;"><textarea class="flex-grow-1 shell small_font"></textarea></div>

<!--shell command-->
<div class="input-group border-top">
  <input type="text" class="form-control rounded-0 border-0 shell_cmd_v" style="background-color: #000000; color: #ffffff;" placeholder="Submit a Shell Command to the Robot...">
  <div class="input-group-append">
    <button class="btn btn-dark rounded-0 shell_submit_b" type="button"><i class="fas fa-arrow-right pr-2"></i>Submit</button>
  </div>  
</div>  