<!-- jquery ui -->
<!--
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
-->
<script src="/static/plugin/js/jquery-1.12.4.js"></script>
<script src="/static/plugin/js/jquery-ui.js"></script>
<script src="/static/plugin/js/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS-->

<!--bootstrap-->
<!--
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
-->
<script src="/static/plugin/js/popper.min.js"></script>
<script src="/static/plugin/js/bootstrap.min.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/plugin/js/codemirror.js"></script>
<script src="/static/plugin/js/javascript.js"></script>
<script src="/static/plugin/js/python.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/assets/js/jquery.serializeToJSON.js"></script>
<!--split-->

<!--three-->
<script src="/static/three/build/three.js"></script>
<script src="/static/three/js/WebGL.js"></script>
<script src="/static/three/js/loaders/ColladaLoader.js"></script>
<script src="/static/three/js/controls/OrbitControls.js"></script>
<script src="/static/three/js/controls/TransformControls.js"></script>
<script src="/static/three/js/THREE.MeshLine.js"></script>

<!--blockly-->
<script src="/static/blockly/blockly_compressed.js"></script>
<script src="/static/blockly/blocks_compressed.js"></script>
<script src="/static/blockly/javascript_compressed.js"></script>
<script src="/static/blockly/python_compressed.js"></script>
<script src="/static/blockly/msg/js/en.js"></script>

<!--d3-->
<script src="https://d3js.org/d3.v7.min.js"></script>

<!--lil-GUI-->
<script src="https://cdn.jsdelivr.net/npm/lil-gui@0.17"></script>

<!--tweakpane-->
<script src="https://cdn.jsdelivr.net/npm/tweakpane@3.1.0/dist/tweakpane.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tweakpane/plugin-camerakit@0.2.0/dist/tweakpane-plugin-camerakit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tweakpane/plugin-essentials@0.1.0/dist/tweakpane-plugin-essentials.min.js"></script>


<!-- google chart-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!--nouislider-->
<script src="/static/plugin/js/nouislider.js"></script>

<!--  -->
<script src="/static/js/receive.js"></script>
<script src="/static/js/connection.js"></script>
<script src="/static/js/send.js"></script>

<script src="/static/js/script.js"></script>
<script src="/static/js/io.js"></script>
<script src="/static/js/controller.js"></script>
<script src="/static/js/notification.js"></script>
<script src="/static/js/key_control.js"></script>
<script src="/static/js/jog.js"></script>
<script src="/static/js/programming.js"></script>
<script src="/static/js/blocks.js"></script>
<script src="/static/js/alarm.js"></script>
<script src="/static/js/setting.js"></script>
<!--file-->
<script src="/static/js/files.js"></script>

<script src="/static/js/function_map.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/log.js"></script>
<script src="/static/js/path_design.js"></script>

<!--animate-->
<script src="/static/js/chain.js"></script>
<script src="/static/js/robot.js"></script>
<script src="/static/js/trail.js"></script>
<script src="/static/js/animate.js"></script>

<!--general-->
<script src="/static/js/general.js"></script>

<!--sidebar-->
<script src="/static/js/sidebar.js"></script>

<!--shell-->
<script src="/static/js/shell.js"></script>

<!--update-->
<script src="/static/js/update.js"></script>

<!--power-->
<script src="/static/js/power.js"></script>

<!--power-->
<script src="/static/js/home.js"></script>

<!--chart-->
<script src="/static/js/chart.js"></script>

<!--timeline-->
<script src="/static/js/timeline.js"></script>

<!--lil gui-->
<script src="/static/js/lil_gui.js"></script>