<!-- jquery ui -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS-->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- JavaScript and dependencies 
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="{{url_for('static', filename='plugin/js/jquery.js')}}"></script>-->
<script src="{{url_for('static', filename='plugin/js/codemirror.js')}}"></script>
<script src="{{url_for('static', filename='plugin/js/javascript.js')}}"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{url_for('static', filename='assets/js/jquery.serializeToJSON.js')}}"></script>
<!--split-->
<!--three-->
<script src="{{url_for('static', filename='three/build/three.js')}}"></script>
<script src="{{url_for('static', filename='three/js/WebGL.js')}}"></script>
<script src="{{url_for('static', filename='three/js/loaders/ColladaLoader.js')}}"></script>
<script src="{{url_for('static', filename='three/js/controls/OrbitControls.js')}}"></script>
<script src="{{url_for('static', filename='three/js/controls/TransformControls.js')}}"></script>
<script src="{{url_for('static', filename='three/js/THREE.MeshLine.js')}}"></script>

<!--
<script src="{{url_for('static', filename='three/js/libs/tween.min.js')}}"></script>
<script src="{{url_for('static', filename='three/js/libs/stats.min.js')}}"></script>
<script src="{{url_for('static', filename='three/js/libs/dat.gui.min.js')}}"></script>
-->

<!--  -->
<script src="{{url_for('static', filename='js/connection.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
<script src="{{url_for('static', filename='js/io.js')}}"></script>
<script src="{{url_for('static', filename='js/controller.js')}}"></script>
<script src="{{url_for('static', filename='js/notification.js')}}"></script>
<script src="{{url_for('static', filename='js/key_control.js')}}"></script>
<script src="{{url_for('static', filename='js/jog.js')}}"></script>
<script src="{{url_for('static', filename='js/alarm.js')}}"></script>
<script src="{{url_for('static', filename='js/setting.js')}}"></script>
<!--<script src="{{url_for('static', filename='js/gamepad.js')}}"></script>-->
<script src="{{url_for('static', filename='js/send.js')}}"></script>
<script src="{{url_for('static', filename='js/receive.js')}}"></script>
<script src="{{url_for('static', filename='js/function_map.js')}}"></script>
<script src="{{url_for('static', filename='js/init.js')}}"></script>
<script src="{{url_for('static', filename='js/log.js')}}"></script>
<script src="{{url_for('static', filename='js/path_design.js')}}"></script>

<!--animate-->
<script src="{{url_for('static', filename='js/chain.js')}}"></script>
<script src="{{url_for('static', filename='js/robot.js')}}"></script>
<script src="{{url_for('static', filename='js/trail.js')}}"></script>
<script src="{{url_for('static', filename='js/animate.js')}}"></script>

<!--general-->
<script src="{{url_for('static', filename='js/general.js')}}"></script>
