<div id="gamepad-display">
  <div class="gamepad-button" data-item="a" data-key="play"></div>
  <div class="gamepad-button" data-item="b" data-key="halt"></div>
  <div class="gamepad-button" data-item="x"  data-key="capture_position" ></div>
  <div class="gamepad-button" data-item="y" ></div>
  <div class="gamepad-button" data-item="left_b" data-key="j4" data-value="-1"></div>
  <div class="gamepad-button" data-item="right_b" data-key="j4" data-value="1"></div>
  <div class="gamepad-button" data-item="left_t" data-key="j3" data-value="-1"></div>
  <div class="gamepad-button" data-item="right_t" data-key="j3" data-value="1"></div>
  <div class="gamepad-button" data-item="back"></div>
  <div class="gamepad-button" data-item="start"></div>
  <div class="gamepad-button" data-item="left_s_b"></div>
  <div class="gamepad-button" data-item="right_s_b"></div>
  <div class="gamepad-button" data-item="d_up" data-key="j0" data-value="-1"></div>
  <div class="gamepad-button" data-item="d_down" data-key="j0" data-value="1"></div>
  <div class="gamepad-button" data-item="d_left" data-key="j1" data-value="-1"></div>
  <div class="gamepad-button" data-item="d_right" data-key="j1" data-value="1"></div>
  <div class="gamepad-button" data-item="guide_b"></div>

  <div class="gamepad-axe" data-item="left_s" data-key="j6" data-value="-1"></div>
  <div class="gamepad-axe" data-item="left_s" data-key="j5" data-value="-1"></div>
  <div class="gamepad-axe" data-item="right_s"></div>  
  <div class="gamepad-axe" data-item="right_s" data-key="j2" data-value="-1"></div>  
</div>
<!--
<div id="gamepad-display">
  <div class="gamepad-button" data-item="a" data-key="halt" data-value="-1"></div>
  <div class="gamepad-button" data-item="b" data-key="j7" data-value="1"></div>
  <div class="gamepad-button" data-item="x" data-key="j7" data-value="-1"></div>
  <div class="gamepad-button" data-item="y" data-key="j6" data-value="1"></div>
  <div class="gamepad-button" data-item="left_b" data-key="halt"></div>
  <div class="gamepad-button" data-item="right_b" data-key="halt"></div>
  <div class="gamepad-button" data-item="left_t"></div>
  <div class="gamepad-button" data-item="right_t"></div>
  <div class="gamepad-button" data-item="back"></div>
  <div class="gamepad-button" data-item="start"></div>
  <div class="gamepad-button" data-item="left_s_b"></div>
  <div class="gamepad-button" data-item="right_s_b"></div>
  <div class="gamepad-button" data-item="d_up" data-key="j2" data-value="1"></div>
  <div class="gamepad-button" data-item="d_down" data-key="j2" data-value="-1"></div>
  <div class="gamepad-button" data-item="d_left" data-key="j3" data-value="-1"></div>
  <div class="gamepad-button" data-item="d_right" data-key="j3" data-value="1"></div>
  <div class="gamepad-button" data-item="guide_b"></div>

  <div class="gamepad-axe" data-item="left_s" data-key="j1" data-value="1"></div>
  <div class="gamepad-axe" data-item="left_s" data-key="j0" data-value="-1"></div>
  <div class="gamepad-axe" data-item="right_s" data-key="j5" data-value="1"></div>
  <div class="gamepad-axe" data-item="right_s" data-key="j4" data-value="-1"></div>
</div>
-->
