<!doctype html>
<html lang="en">
  <head>
    {% include "header.html" %}
  </head>
  <body class="p-0">
    {% include "top.html" %}
    <!--notification-->
    {% include "notification/main.html" %}      
    <div class="container-fluid stretch p-0">        
      <div class="tab-content  h-100" id="pills-tabContent">    
        <div class="tab-pane fade show active h-100" id="pills-main" role="tabpanel" aria-labelledby="pills-main-tab">    
          {% include "main.html" %}
        </div>            
        <div class="tab-pane fade" id="pills-io" role="tabpanel" aria-labelledby="pills-io-tab">
          {% include "io.html" %}
        </div>  
        <!--
        <div class="tab-pane fade" id="pills-controller" role="tabpanel" aria-labelledby="pills-controller-tab">
          {% include "controller.html" %}
        </div>
        -->
        <div class="tab-pane fade" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
          {% include "setting/main.html" %}
        </div>         
      </div>
    </div>
  </body>
  {% include "add_on.html" %}
</html>