<div class="row" style="margin:0px">
  <!--output-->
  <div class="col-6">
    <table class="table .table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col" colspan="2" >Output</th>
        </tr>
      </thead>
      <tbody>
        {% for i in [0, 2, 4, 8, 10, 12, 14] %}
          <tr>
            {% for j in range(2) %}
              <td>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input out_c" data-key="out{{i+j}}" id="out_c_{{i+j}}" data-cmd ={{cmd["output"]}}>
                  <label class="custom-control-label" for="out_c_{{i+j}}">out{{i+j}}</label>
                </div>        
              </td>
            {% endfor %}
          </tr>  
        {% endfor %}
      </tbody>
    </table>  
  </div>
  <!--/output-->
  <!--input-->
  <div class="col-6">
    <table class="table .table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col" colspan="2" >input</th>
        </tr>
      </thead>
      <tbody>
        {% for i in [0, 2, 4, 8, 10, 12, 14] %}
          <tr>
            {% for j in range(2) %}
              <td>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input in_c" data-key="in{{i+j}}" id="in_c_{{i+j}}">
                  <label class="custom-control-label" for="in_c_{{i+j}}">in{{i+j}}</label>
                </div>        
              </td>
            {% endfor %}  
          </tr>  
        {% endfor %}
      </tbody>
    </table>  
  </div>
  <!--/input-->
</div>

<div class="row" style="margin:0px">
  <!--pwm-->
  <div class="col-9">
    <table class="table .table-sm ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">PWM</th>
          <th scope="col" >Status</th>
          <th scope="col" >Duty cycle</th>
          <th scope="col" >Frequency</th>
          <th scope="col"></th>
        </tr>
      </thead>  
      <tbody>
        {% for i in range(5) %}
        <tr>
          <td scope="row">pwm{{i}}</td>
          <td style="">
            <input type="number" class="form-control small  pwm_v text-center"  value="0" data-item="pwm{{i}}" data-key="pwm{{i}}" disabled>
          </td>
          <td style="">
            <div class="input-group">
              <div class="input-group-prepend">
                <input type="number" class="input-group-text dc_v small" value="0" data-key="pwm{{i}}" data-item="duty{{i}}" disabled>
              </div>
              <input class="form-control dc_n  small text-center" type="number" value="0" step=0.001 data-key="pwm{{i}}" data-item="duty{{i}}">
            </div>
          <td>
            <div class="input-group">
              <div class="input-group-prepend">
                <input type="number" class="input-group-text freq_v  small " value="0" data-key="pwm{{i}}" data-item="freq{{i}}" disabled>
              </div>
              <input class="form-control freq_n  small text-center" type="number" value="0" data-key="pwm{{i}}" data-item="freq{{i}}">
            </div>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary pwm_b" data-key="pwm{{i}}"  value=1 data-cmd ={{cmd["pwm"]}}>Enable / Set</button>
            <button type="button" class="btn btn-secondary pwm_b" data-key="pwm{{i}}" value=0 data-cmd ={{cmd["pwm"]}}>Disable</button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>  
  <!--pwm-->
  <!--adc-->
  <div class="col-3"> 
    <table class="table .table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ADC</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(5) %}
        <tr>
          <td scope="row">adc{{i}}</td>
          <td style="">
            <input type="number" class="form-control adc_v small text-center" value="0" data-key="adc{{i}}" disabled>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> 
  <!--/adc-->
</div>    
