<nav class="navbar navbar-expand-md navbar-light  bg-light border-bottom ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-md-auto">
        <li class="nav-item">
          <input type="button" class="btn btn-danger halt_b" value="Halt" data-cmd="halt" >
        </li>
        <li class="nav-item">
          <input type="button" class="btn btn-link connect_s_b ws_stat_v" data-toggle="modal" data-target="#connection_modal" value="Connection">
        </li>
        <li class="nav-item alarm_li" style="display:none">
          <input type="button" class="btn btn-link alarm_b text-danger" value="Disable alarm" data-cmd = {{cmd["alarm"]}}>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-main-tab" data-toggle="pill" href="#pills-main" role="tab" aria-controls="pills-main" aria-selected="true"><span>Main</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-io-tab" data-toggle="pill" href="#pills-io" role="tab" aria-controls="pills-io" aria-selected="false">I/O</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#pills-setting" role="tab" aria-controls="pills-setting" aria-selected="false">Setting</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand border-left pl-2" href="https://dorna.ai">
      <img src=" {{url_for('static', filename='icon/favicon.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
      Dorna lab
    </a>
</nav>





<!-- Modals -->
{% include "connection.html" %}
