<div class="list-group p-2 path_design_program_list" style="height: 200px">      
	
	<div class="list-group-item list-group-item-action path_design_program_list_b d-flex p-0 rounded-0" data-id= 0 >
		<button type="button" class="btn btn-sm rounded-0 btn-txt" >
		    0: jmove
		</button>
		<div class="flex-grow-1"></div>

		<!--action-->
		<button type="button" class="btn btn-sm path_design_move_preview_b border-left rounded-0" data-id="0">
			<i class="fas fa-fast-forward"></i>
		</button>
		<button type="button" class="btn btn-sm path_design_move_save_b border-left rounded-0" data-id="0">
		    <i class="fas fa-check"></i>
		</button>
		<button type="button" class="btn btn-sm path_design_move_cancel_b border-left rounded-0" data-id="0">
			<i class="fas fa-times"></i>
		</button>
		<button type="button" class="btn btn-sm path_design_move_delete_b border-left rounded-0" data-id="0" disabled="true">
			<i class="far fa-trash-alt"></i>
		</button>
		<!--
		<div class="border-left">
			<button id="btnGroupDrop1" type="button" class="btn btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i>
			</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<button class="dropdown-item path_design_preview_b">Preview all	
				</button><button class="dropdown-item path_design_move_save_all_b">Save all
				</button><button class="dropdown-item path_design_move_cancel_all_b">Restore all
				</button><button class="dropdown-item path_design_move_delete_all_b">Delete all				
				</button>
			</div>	
		</div>
		-->
	</div>
</div>
