<div class="program_panel resize_e side_panel bg-white" style="width:600px; min-wdith:600px; position: absolute; display: none">
	<!-- content-->
	<div class="stretch d-flex flex-column">
		<!--header-->
		{% include "path_design/header.html" %}
		<!-- command list-->
		<div class="resize_s border-bottom d-flex flex-column" >
  			<div class="" style="  overflow: auto;flex: 1;">
				{% include "path_design/list.html" %} 				
  			</div> 			  			
		</div>


		<!-- command feature -->
		<div class="" style="  overflow: auto">
			<div class="border-bottom">
				{% include "path_design/new_move.html" %}	
			</div>
			<div>
				{% include "path_design/move.html" %}	
			</div>
		</div> 			  			
	</div>


</div>
