<div class="program_panel resize_e side_panel bg-white" style="width:450px; min-wdith:450px; position: absolute; display: none">
	<!-- content-->
	<div class="stretch d-flex flex-column">
		<!--play section-->
		<div class="d-flex border-bottom bg-light">
			<div class="border-right">
				<button type="button" class="btn btn-light path_design_play_b">
					<i class="fas fa-play"></i>
					Play
				</button>
			</div>
			<div class="border-right">
				<button id="btnGroupDrop2" type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i>
				</button>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
					<button class="dropdown-item make_script_b"><i class="fas fa-arrow-right"></i> Convert to script</button>	
					<button class="dropdown-item path_upload_b"><i class="fas fa-upload"></i> Upload</button>
					<button class="dropdown-item path_download_b"><i class="fas fa-download"></i> Download</button>
				</div>	
			</div>															     
		</div>				
		<!-- ghost section-->
		<div class="d-flex border-bottom bg-light" style="min-height: 39px">
			<!-- visible -->	        
	        <div class="custom-control custom-switch mt-auto mb-auto ml-2">
	          <input type="checkbox" class="custom-control-input path_design_visible_c" id="path_design_visible_c" checked>
	          <label class="custom-control-label" for="path_design_visible_c">Ghost visibility</label>
	        </div>	        	

	        <!-- ghost tool length -->
	        <div class="border-right ml-2 mr-2"></div>
			<div class="input-group input-group-sm mt-auto mb-auto" style="max-width: 200px">
				<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-sm">Ghost tool length</span>
				</div>
				<input type="number" class="form-control fghost_prm_v ghost_toolhead_v" aria-label="ghosttoollength" aria-describedby="inputGroup-sizing-sm"
				value="0" step="0.01" data-key="toolhead" min="0">				
			</div>
			<div class="border-right ml-2"></div>	        	
		</div>				

		<!-- command list-->
		<div class="resize_s border-bottom d-flex flex-column">
  			<div class="" style="  overflow: auto;flex: 1;">
				{% include "path_design/list.html" %} 				
  			</div> 			  			
		</div>


		<!-- command feature -->
		<div class="" style="  overflow: auto">
			<div class="bg-light">
				{% include "path_design/new_move.html" %}	
			</div>
			<div>
				{% include "path_design/move.html" %}	
			</div>
		</div> 			  			
	</div>


</div>
