<div class="d-flex bg-light border-bottom">
  <div class="ml-2 mr-2"><i class="fas fa-plus"></i></div>
  <div>New Command</div>
</div>
<div class="p-2">
	<div class="custom-control custom-checkbox pb-2">
		<input type="checkbox" class="custom-control-input path_design_sync_c" id="path_design_sync_c">
		<label class="custom-control-label" for="path_design_sync_c">Sync with the robot position</label>
	</div>	
	<button type="button" class="btn btn-primary mb-1 path_design_move_b" data-cmd = "jmove" ><i class="fas fa-plus"></i> Joint Move</button>
	<button type="button" class="btn btn-primary mb-1 path_design_move_b" data-cmd = "lmove"><i class="fas fa-plus"></i> Line Move</button>
	<button type="button" class="btn btn-primary mb-1 path_design_move_b" data-cmd = "cmove"><i class="fas fa-plus"></i> Circle Move</button>
	<br>		
</div>