
<div style="margin: 0; padding: 0; display: flex;">

  <div style="flex: 1; display: flex; flex-direction: column;">
    <div style="border: 1px solid #ccc; padding: 20px; margin: 10px;">
    	<button type="button" class="btn btn-light vision_play_b rounded-0 border-right border-left">
	      <i class="fas fa-play"></i>
	      Play
		</button>

    </div>
    <div style="border: 1px solid #ccc; padding: 20px; margin: 10px;">
    	<img style = "max-width: 300px ;max-height: 300px" src="" alt="Preview Image" id="main-preview-image">
    </div>
    <div style="border: 1px solid #ccc; padding: 20px; margin: 10px;">
		<input type="file" accept="image/jpeg, image/png, image/jpg" id="image-input"></input>
		
		<table id="image-preview">
	    	<!-- Add more rows as needed -->
	  	</table>





    </div>

  </div>

  <div style="flex: 1;">
    <div style="border: 1px solid #ccc; padding: 20px; margin: 10px;">
    	<div style = "min-width: 70vw ;min-height: 50vh" id="rete"></div>

	    <textarea style = "min-width: 70vw ;min-height: 50vh" class="vision_python_editor"></textarea>

    </div>
  </div>



</div>


