<div class="modal fade" id="file_modal" tabindex="-1" role="dialog" aria-labelledby="file_modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="file_modalLabel">File Browser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--folder-->
          <!--actions-->
          <div class="d-flex border bg-light mb-4">
            <!--
            <button type="button" class="btn btn-light rounded-0 home_folder_b border-right">
              <i class="fal fa-bookmark"></i>
              Projects
            </button>
            -->

            <button type="button" class="btn btn-light rounded-0 back_folder_b border-right">
              <i class="fal fa-long-arrow-alt-left"></i>
              Back
            </button>

            <button type="button" class="btn btn-light rounded-0 up_folder_b border-right">
              <i class="fal fa-long-arrow-alt-up"></i>
              Up
            </button>

            <div class="flex-grow-1"></div>

            <button type="button" class="btn btn-light rounded-0 file_upload_b border-left">
              <i class="fal fa-upload"></i>
              Upload
            </button>

            <button type="button" class="btn btn-light rounded-0 paste_b border-left">
              <i class="fal fa-paste"></i>
              Paste
            </button>

            <button type="button" class="btn btn-light rounded-0 new_folder_b border-left">
              <i class="fal fa-plus-circle"></i>
              New Folder
            </button>

          </div> 

          <!--popular folder-->
          <div class="d-flex flex-row mb-4">
            <button type="button" class="btn btn-outline-primary home_folder_b mr-2">Projects</button>
            <button type="button" class="btn btn-outline-primary example_folder_b mr-2">Examples</button>
          </div>

          <!--path-->
            <nav aria-label="breadcrumb" id="breadcrumb_area" class="mb-2 bg-light">
              <ol class="breadcrumb path_breadcrumb m-0" id="path_breadcrumb_id">
              </ol>
            </nav>


            <div class="mb-auto mt-auto path_b pl-2" id="path_b" data-key='{{config["folder"]["path_home"]}}'>{{config["folder"]["path_home"]}}</div>
            <div class="mb-auto mt-auto path_home_b pl-2" id="path_home_b" data-key='{{config["folder"]["path_home"]}}' hidden="true">{{config["folder"]["path_home"]}}</div>
            <div class="mb-auto mt-auto path_example_b pl-2" id="path_example_b" data-key='{{config["folder"]["path_example"]}}' hidden="true">{{config["folder"]["path_example"]}}</div>
            <div class="mb-auto mt-auto path_blk_b pl-2" id="path_blk_b" data-key='{{config["folder"]["path_blockly"]}}' hidden="true">{{config["folder"]["path_blockly"]}}</div>
            <div class="mb-auto mt-auto path_py_b pl-2" id="path_py_b" data-key='{{config["folder"]["path_python"]}}' hidden="true">{{config["folder"]["path_python"]}}</div>
            <div class="mb-auto mt-auto path_path_design_b pl-2" id="path_path_design_b" data-key='{{config["folder"]["path_path_design"]}}' hidden="true">{{config["folder"]["path_path_design"]}}</div>
            <div class="mb-auto mt-auto path_script_b pl-2" id="path_script_b" data-key='{{config["folder"]["path_script"]}}' hidden="true">{{config["folder"]["path_script"]}}</div>

        <ul class="list-group mb-2 list-file" id="fileList">
        </ul>

        <!--action-->
        <button type="button" class="btn btn-primary mb-1 file_save_b">Save Here</button>
        <button type="button" class="btn btn-primary mb-1 file_open_b" >Open</button>  
        <button type="button" class="btn btn-primary mb-1 file_cancel_b">Cancel</button>
        <input  class="mb-auto mt-auto pl-2" id="file_address_input"  value="" readonly></input>
 
            <!--/main content-->
      </div>
    </div>
  </div>
</div>