World Objects: 		<button type="button" class="btn btn-sm rounded-0 add_scene_b" dest="world" >+</button>
<div id="world_obj_list" class="list-group p-2" style="height: 200px">      
</div>
Flange Objects: <button type="button" class="btn btn-sm rounded-0 add_scene_b" dest="flange" >+</button>
<div  id="flange_obj_list" class="list-group p-2" style="height: 200px">      

</div>

<div>
	 <button class="tcp-transform-mode-select-b" type="translate">Translate</button>
	  <button class="tcp-transform-mode-select-b" type="rotate">Rotate</button>
	   <button class="tcp-transform-mode-select-b" type="scale" hidden>Scale</button>
</div>


<div>
	<button id="scene-gen-export-button">Export</button>
	<textarea id="scene-gen-export-output" readonly rows="10" cols="50"></textarea>

</div>